*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --gap: 6px;
  --margin: 8px;
  --foreground: #333;
  --background: white;
  --anim-timing: 200ms ease-in-out;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  /* Fills the width to max space taken up by content */
  width: max-content;
  position: absolute;
  top: var(--margin);
  left: var(--margin);
  z-index: 2;
  cursor: pointer;
}

/* Removes default appearance for checkbox allowing for custom styling */
.burger-menu input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transition: opacity var(--anim-timing);
}

/* When input is checked */
.burger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
}
